.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5F5;
    padding-bottom: 200px;
}

.section-2 .__titulo {
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 20pt;
}

.section-2 .__grupo_txt_imgs {
    display: flex;
    gap: 200px;
}

.section-2 .__grupo_txt_imgs .__grupo_imagens_do_pessoal .__grupo_pessoas {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.section-2 .__grupo_txt_imgs .__grupo_imagens_do_pessoal .__grupo_pessoas .__pessoa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2 .__grupo_txt_imgs .__grupo_imagens_do_pessoal .__grupo_pessoas .__pessoa .__imagem_perfil {
    background: #bababa;
    width: 100px;
    height: 100px;
}
